/* 미디어 쿼리 추가: 브라우저 창 너비가 1200px 이하일 때 */
@media (min-width: 940px) {
    .container .card {
        width: 313.6px; /* 320px의 98% */
        height: 441px; /* 450px의 98% */
    }
}

@media ((min-width: 540px) and (max-width: 940px)) {
    .container .card {
        width: 313.6px; /* 320px의 98% */
        height: 441px; /* 450px의 98% */
    }
}

@media (max-width: 540px) {
    .container .card {
        width: 313.6px; /* 320px의 98% */
        height: 441px; /* 450px의 98% */
    }
}