img{
    display: inline-flex;
    height: 90px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  

header {
    width: 100%;
    height: 100px;
    background-color: #27c27c;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  .header1 > .menus li {
    display: inline-flex;
    align-items: center;
    padding-inline: 0px 10px;
  }


@media (min-width: 940px) {
    .header1 {
        width: 100vw; 
        height: 100px; 
    }
}

@media ((min-width: 540px) and (max-width: 940px)) {
    .header1 {
        width: 100vw; 
        height: 100px; 
    }
}

@media (max-width: 540px) {
    .header1 {
        width: 100vw; 
        height: 100px; 
}
}